<div class="promo-grid{% if section.settings.space_above %} promo-grid--space-top{% endif %}{% if section.settings.space_below %} promo-grid--space-bottom{% endif %}">
  <div class="flex-grid flex-grid--gutters flex-grid--{{ section.id }}">
    {%- for block in section.blocks -%}

      {%- if collection_page -%}
        {%- if block.settings.promo_collection != blank -%}
          {%- if block.settings.promo_collection != collection.handle -%}
            {%- continue -%}
          {%- endif -%}
        {%- endif -%}

      {%- endif -%}


      <div class="flex-grid__item flex-grid__item--{{ block.settings.width }} flex-grid__item--{{ block.id }} " {{ block.shopify_attributes }}>
        {%- case block.type -%}

          {%- when 'advanced' -%}
            <div
              class="promo-grid__container{% if block.settings.boxed %} promo-grid__container--boxed{% endif %}{% if block.settings.framed %} promo-grid__container--framed{% endif %} {{ block.settings.text_align }}">

              {%- if block.settings.cta_link1 != blank and block.settings.cta_link2 == blank -%}
                <a href="{{ block.settings.cta_link1 }}" class="promo-grid__slide-link" aria-hidden="true" aria-label="{{block.settings.cta_text1}}"></a>
              {%- endif -%}

            

              {%- if block.settings.subheading != blank or block.settings.heading != blank or block.settings.textarea != blank or block.settings.cta_text1 != blank or block.settings.cta_text2 != blank -%}
                <div class="promo-grid__content{% if block.settings.boxed %} promo-grid__content--boxed{% endif %}{% if block.settings.framed %} promo-grid__content--framed{% endif %}">
                  <div class="promo-grid__text">
                
                    {%- if block.settings.cta_text1 != blank -%}
                      <a href="{{ block.settings.cta_link1 }}" class="btn{% unless accent_exists %}{% endunless %}">
                        {{ block.settings.cta_text1 }}
                      </a>
                    {%- endif -%}
                
                  </div>
                </div>
              {%- endif -%}
            </div>

        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>
